body {
    background-color: wheat;
    font-size: 12px;
}

h1 {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 2px;
}

div {
    border: solid 1px black;
    padding: 0px;
    margin: 1px;
}